.main{width:100%;
    height:730px;
    display:flex;
    background-color:beige;
    flex-direction:column;}
    
/* header */

header{
    width:100%;
    height:100px;
    background-color: white;
    display:flex;
    justify-content:space-around;
    align-items:center;
}

.email{
    display:flex;
    height:100px;
    flex-basis:15%;
    align-items: center;
    color:gray;
    font-size:14px;
}
.email img{
    width:10%;
    margin-right:10px;
}


.phone{
    height:100px;
    display:flex;
    flex-basis: 15%;
    align-items: center;
    color:gray;
    font-size:14px;
}
.phone img{
    width:10%;
    margin-right:10px;
}


.logo{
    display:flex;
    flex-basis: 30%;
    align-items: center;
    color:darkgreen;
    font-size:30px;
    font-weight:bold;
}

.logo img{
    width:26%;
}

.basket{
    display:flex;
    height:100px;
    flex-basis: 10%;
    align-items: center;
    color:green;
    font-size:18px;
}

.basket>img{
    width:15%;
    margin-right:10px;
}

.basket>img:hover{
    cursor:pointer;
}

.basket:hover{
    cursor:pointer;
}

/* block for_users */

.for_users{
    width:100%;
    height:50px;
    background-color:lightgray;
    display:flex;
    justify-content:space-around;
    align-items:center;
}

.text{
    font-size:20px;
    font-style:italic;
    flex-basis:50%;
}

#btn_sign{
    background-color: green;
    padding:5px;
    font-size:16px;
    border:none;
    border-radius:5px;
    margin-right:10px;
}

#btn_sign a{
    text-decoration:none;
    color:white;
}


#btn_login{
    background-color: green;
    padding:5px;
    font-size:16px;
    border:none;
    border-radius:5px;
}

#btn_login a{
    text-decoration:none;
    color:white;
}

.main_image{
    width:100%;
    height:600px;
}

.main_image img{
    width:100%;
}

.text1{
    width:40%;
    text-align:center;
    color:white;
    font-size:100px;
    font-weight:bold;
    position:absolute;
    top:280px;
    left:30%;
}

#btn_message{
    background-color: gray;
    color:white;
    font-weight:bold;
    padding:10px;
    position:absolute;
    top:570px;
    left:42%;
    border:none;
    width:15%;
    font-size:16px;
}

#btn_message:hover{
    cursor:pointer;
}


/* Login Page */

.login_main{width:100%;
    height:730px;
    display:flex;
    background-color:#C7F1DF;
    flex-direction:column;}
    

.login_caption{
    font-size:32px;
    font-weight:bold;
    color:white;
}

.header_elements{
    width:100%;
    height:100px;
    background-color: white;
    display:flex;
    justify-content:space-around;
    align-items:center;
    background-color:#023F25;
}


.text2{
    color:white;
    font-size:18px;
    font-style:italic;
}

.text2 a{
    color:white;
}

.container{
    width:100%;
    height:700px;
    display:flex;
    flex-direction:column;
    align-items: center;
}

.text3{
    width:100%;
    height:100px;
    display:flex;
    justify-content: center;
    align-items:center;
    font-size:22px;
}

#form_login{
    width:42%;
    height:300px;
    background-color: #023F25;
    display: flex;
    flex-direction: column;
    border-radius:20px;
}

label{
    font-size:22px;
    font-weight:bold;
    color:white;
    margin-left:5%;
}

input[type="text"]{
	width:80%;
	height: 30px;
	margin-left:5%;
	border:none;
	border-radius:8px;
}

input::placeholder{
    color:black;
    padding-left: 10px;
}


input[type="password"]{
	width:80%;
	height: 30px;
	margin-left:5%;
	border:none;
	border-radius:8px;
}

input:focus{
    outline: none;
}



.buttons{
    display: flex;
    width:90%;
    justify-content: space-around;
    flex-direction: row;
}
#btn_clear{
	width:20%;
	padding:1%;
	margin-top:10px;
	background-color:#FFE0D3;
	color:black;
	font-weight: bold;
	border:none;
	font-size:18px;
	border-radius: 8px;
}

#btn_clear:hover{
	cursor: pointer;
}


#btn_log_in{
	width:20%;
	padding:1%;
	margin-top:10px;
    background-color:#BF9F92;
	color:black;
	font-weight: bold;
	border:none;
	font-size:18px;
	border-radius: 8px;
}

#btn_log_in:hover{
	cursor: pointer;
}

